<a href="https://colab.research.google.com/github/ismairdrs/bootcamp_analista_machine_learning/blob/main/analise_database_bike_sharing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [3]:
# Qual o tamanho desse dataset?
df.shape

(17379, 17)

In [6]:
# Qual a média da coluna windspeed?
df['windspeed'].mean()

0.1900976063064631

In [7]:
#Qual a média da coluna temp?
df['temp'].mean()

0.4969871684216586

In [31]:
# Quantos registros existem para o ano de 2011?
df_2011 = df[df.year==0]
df_2011.shape

(8645, 17)

In [32]:
# Quantos registros existem para o ano de 2012?
df_2012 = df[df.year==1]
df_2012.shape

(8734, 17)

In [34]:
# Quantas locações de bicicletas foram efetuadas em 2011?
df_2011['total_count'].sum()

1243103

In [35]:
# Quantas locações de bicicletas foram efetuadas em 2012?
df_2012['total_count'].sum()

2049576

In [39]:
# Qual estação do ano contém a maior média de locações de bicicletas?
# Qual estação do ano contém a menor média de locações de bicicletas?
df[['total_count', 'season']].groupby(['season']).mean()

        total_count
season
1        111.114569
2        208.344069
3        236.016237
4        198.868856

In [47]:
# Qual horário do dia contém a maior média de locações de bicicletas?
# Qual horário do dia contém a menor média de locações de bicicletas?
df[['total_count', 'hour']].groupby(['hour']).mean().sort_values(by=['total_count'])

      total_count
hour
4        6.352941
3       11.727403
5       19.889819
2       22.869930
1       33.375691
0       53.898072
6       76.044138
23      87.831044
22     131.335165
21     172.314560
10     173.668501
11     208.143054
7      212.064649
9      219.309491
20     226.030220
14     240.949246
15     251.233196
12     253.315934
13     253.661180
19     311.523352
16     311.983562
8      359.011004
18     425.510989
17     461.452055

In [49]:
# Que dia da semana contém a maior média de locações de bicicletas?
# Que dia da semana contém a menor média de locações de bicicletas?
df[['total_count', 'weekday']].groupby(['weekday']).mean().sort_values(by=['total_count'])

         total_count
weekday
0         177.468825
1         183.744655
6         190.209793
3         191.130505
2         191.238891
5         196.135907
4         196.436665

In [56]:
# Às quartas-feiras (weekday = 3), qual o horário do dia contém a maior média de locações de bicicletas?
df[df.weekday==3][['hour', 'total_count']].groupby(['hour']).mean().sort_values(by=['total_count'])

      total_count
hour
3        4.888889
4        4.968750
2        7.813725
1       15.336538
5       25.750000
0       34.557692
23      83.737864
6      107.807692
10     131.894231
22     143.689320
11     152.201923
14     170.548077
15     181.288462
13     185.826923
12     193.903846
21     194.669903
9      238.528846
20     256.660194
16     272.961538
7      303.980769
19     357.504854
8      488.326923
18     494.029126
17     513.144231

In [60]:
# Aos sábados (weekday = 6), qual o horário do dia contém a maior média de locações de bicicletas?
df[df.weekday==6][['hour', 'total_count']].groupby(['hour']).mean().sort_values(by=['total_count'])

      total_count
hour
4        7.657143
5        8.291262
6       21.000000
3       22.885714
7       45.961905
2       50.495238
1       67.780952
0       94.304762
8      114.476190
23     115.855769
22     139.663462
21     156.000000
20     180.865385
9      186.790476
19     239.932692
10     263.723810
18     292.048077
11     328.609524
17     334.409524
16     366.142857
12     375.380952
14     381.333333
15     382.428571
13     385.371429